<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang = "pl">


<head>
    <meta charset="UTF-8">
    <title>Transit Port Modeler</title>
    <link href="site-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
</head>

<body>
    <nav>
        <li>O nas</li>
        <li>Kontakt</li>
        <li>Zaloguj</li>
    </nav>

    <h1>O nas</h1>
    <p>Jesteśmy jednym z największych portów towarowych w Polsce. Zajmujemy się składowaniem, importem oraz eksportem towarów w dowolne miejsce na świecie.</p>
</body>

<footer>
    Port Bazodanowy, 2021
</footer>

</html>