<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="hhtp://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>New Port</title>
<link href="site-style.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
	rel="stylesheet">
</head>

<style type="text/css">
body {
	background-color: #FFF3E0;
}

footer {
	text-align: center;
	margin: 50px;
}
</style>

<link rel="stylesheet" href="style.css" type="text/css" />
<link
	href='http://fonts.googleapis.com/css?family=Lato:400,900&subset=latin,latin-ext'
	rel='stylesheet' type='text/css'>

<body>

	<div align="center">
		<!-- Page Header  -->
		<h1>Dodaj nowy port</h1>

		<!--  End line / new line  -->
		<br />

		<form action="#" th:action="@{/save}" th:object="${port}"
			method="post">

			<!-- Table with records  -->
			<table bgcolor=#FFE0B2 border="1" cellpadding="10">

				<!-- First row -->
				<tr>
					<td>ID portu:</td>
					<td><input type="text" th:field="*{ID_portu}"></td>
				</tr>

				<!-- Second row -->
				<tr>
					<td>Nazwa:</td>
					<td><input type="text" th:field="*{Nazwa}"></td>
				</tr>

				<!-- Third row -->
				<tr>
					<td>Powierzchnia [m2]:</td>
					<td><input type="text" th:field="*{Powierzchnia}"></td>
				</tr>

				<!-- Fourth row -->
				<tr>
					<td>Data zalozenia:</td>
					<td><input type="text" th:field="*{Data_zalozenia}"></td>
				</tr>

				<!-- Fifth row -->
				<tr>
					<td>Osrodek ratownictwa:</td>
					<td><input type="text" th:field="*{Osrodek_ratownictwa}"></td>
				</tr>

				<!-- Sixth row -->
				<tr>
					<td>ID_Adresu:</td>
					<td><input type="text" th:field="*{ID_adresu}"></td>
				</tr>

				<!-- Button Save -->
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>


			</table>
		</form>
	</div>
	<footer align="center"> Port Bazodanowy, 2021 </footer>
</body>
</html>